html {
    scroll-behavior: smooth;
}

body {
    background-image: url(/assets/img/fondov2.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 10px;
    font-size: 40px;
}

.intro {
    height: 70px;
    width: 350px;
    padding: 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background-color: rgb(27, 27, 27, .5);
    color: white;
    transition: .5s;
}

.introP {
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
}

.card1 {
    position: absolute;
    width: 350px;
    height: 500px;
    left: 1550px;
    top: 200px;
}

.card1 img {
    width: 350px;
    height: 500px;
    opacity: 0.7;
    transition: .5s;
    border: 2px solid white
}

.card1:hover {
    cursor: pointer;
}

.card1:hover .intro {
    height: 220px;
    bottom: 0px;
    background-color: black;

}

.card1:hover .introP {
    opacity: 1;
    visibility: visible;
}

.card1:hover .cardImg1 {
    transform: scale(1.1) rotate(-3deg);
}

.card2 {
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: gray;
    left: 1170px;
    top: 200px;
}

.card2 img {
    width: 350px;
    height: 500px;
    opacity: 0.9;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    transition: .5s;
    border: 2px solid white
}

.card2:hover {
    cursor: pointer;
}

.card2:hover .intro {
    height: 220px;
    bottom: 0px;
    background-color: black;
}

.card2:hover .introP {
    opacity: 1;
    visibility: visible;
}

.card2:hover .cardImg2 {
    transform: scale(1.1) rotate(-3deg);
}


.card3 {
    position: absolute;
    width: 350px;
    height: 500px;
    background-color: gray;
    left: 790px;
    top: 200px;
}

.card3 img {
    width: 350px;
    height: 500px;
    opacity: 0.9;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    transition: .5s;
    border: 2px solid white
}

.card3:hover {
    cursor: pointer;
}

.card3:hover .intro {
    height: 220px;
    bottom: 0px;
    background-color: black;
}

.card3:hover .introP {
    opacity: 1;
    visibility: visible;
}

.card3:hover .cardImg3 {
    transform: scale(1.1) rotate(-3deg);
}


.textoLateral {
    position: absolute;
    width: 600px;
    height: 600px;
    /* border: 2px solid white;
    background-color: grey; */
    top: 10%;
    left: 40px;
}

.tituloLateral {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: white;
}


.contenidoLateral {
    position: absolute;
    top: 15%;
    color: white;
}

.botonLateral {
    position: absolute;
    width: 200px;
    height: 40px;
    border: 2px solid white;
    background-color: gray;
    top: 105%;
    left: 20%;
    border-radius: 10px;
    cursor: pointer;
}

.botonLateral:hover {
    background-color: white;
    transform: scale(1.2);
    transition: 1s;
}

.botonLateral p {
    position: relative;
    text-align: center;
    top: 8px;
    margin: 0;
}



/* ESTILOS DEL GRID DE PRODUCTOS */

.separacion1 {
    width: 100%;
    height: 200px;
}

.grid-layout {
    display: grid;
    grid-template-columns: auto auto;
    width: 80%;
    margin: 0 auto;

}

.columna {
    position: relative;
    right: 100px;
    top: 1400px;
    border: 2px solid white;
    /* background-color: rgb(203, 202, 142); */
    width: 850px;
    height: 150px;
    margin: 20px;
}

.textoGrid {
    position: absolute;
    line-height: 20px;
    color: white;
    top: 40px;
    left: 220px;
}

.columna img {
    height: 148px;
    width: 200px;
    border: 2px solid white;
}



.pan {
    position: absolute;
    top: 1350px;
    left: 130px;
    color: white;
    font-size: 50px;
}

.torta {
    position: absolute;
    top: 2330px;
    left: 130px;
    color: white;
    font-size: 50px;
}

.fiambre {
    position: absolute;
    top: 3300px;
    left: 130px;
    color: white;
    font-size: 50px;
}

/* seccion entre menu y home */

.fondoRectangulo {
    position: absolute;
    height: 480px;
    width: 100%;
    background-color: #fff9e1;
    top: 80%;
    opacity: 0.9;
    border: 2px solid white;
}

.slot1 {
    position: absolute;
    height: 300px;
    width: 200px;
}

.slot1 img {
    position: absolute;
    height: 200px;
    left: 300px;
    

}

.slot1 p {
    position: relative;
    height: 200px;
    left: 315px;
    justify-content: center;
    top: 170px;

}



.slot2 {
    position: absolute;
    height: 300px;
    width: 200px;
}

.slot2 img {
    position: absolute;
    height: 200px;
    left: 850px;
}

.slot2 p {
    position: relative;
    height: 200px;
    left: 300px;
    justify-content: center;
    top: 170px;
    left: 870px;
}



.slot3 {
    position: absolute;
    height: 300px;
    width: 200px;
}

.slot3 img {
    position: absolute;
    height: 200px;
    left: 1400px;

}

.slot3 p {
    position: relative;
    height: 200px;
    left: 300px;
    justify-content: center;
    top: 170px;
    left: 1420px;
}

.welcome{
    width: 100%;
    position: absolute;
    color: rgb(0, 0, 0);
    left: 320px;
    top: 380px;
    font-size: 100px;

}

#seccionpan{
    display: none;
}