body {
    background-image: url(/assets/img/fondov2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    margin: 0;
    padding: 0;
}

